.section-banner {

    .carousel-control-next {
        .carousel-control-next-icon {
            background-image: url("../../assets/images/seta-direita.png");
            background-position: right;
            background-repeat: no-repeat;
            background-size: auto;
        }
    }

    .carousel-control-prev {
        .carousel-control-prev-icon {
            background-image: url("../../assets/images/seta-esquerda.png");
            background-position: left;
            background-repeat: no-repeat;
            background-size: auto;
        }
    }

    .carousel-indicators {
        background-color: #E80638;
        width: 20px;
        height: 20px;
    }

}